<div class="detail-container">
  <div *ngIf="cargando">Cargando detalles...</div>

  <div *ngIf="!cargando && ordenador" class="detail-container">
    <h1>{{ordenador.marca}} {{ordenador.modelo}}</h1>
    <p><strong>Procesador:</strong> {{ordenador.procesador}}</p>
    <p><strong>RAM:</strong> {{ordenador.ram}}</p>
    <p><strong>Precio:</strong> ${{ordenador.precio}}</p>
    <p><strong>Creado el:</strong> {{ordenador.createdAt | date}}</p>
    <div class="detalle-imagen" *ngIf="ordenador.imagen">
      <img [src]="ordenador.imagen" [alt]="ordenador.marca + ' ' + ordenador.modelo" />
    </div>

    <!-- Botones de acción -->
    <div class="botonesAbajo">
      <button class="actualizar" (click)="onActualizar()">Actualizar</button>
      <button class="eliminar" (click)="onMostrarModalEliminar()">Eliminar</button>
    </div>
    <div class="BotonVolver">
      <a routerLink="/ordenadores">Volver al catálogo</a>
    </div>
      
    
  </div>  

  <!-- Modal -->
  <div *ngIf="modalEliminarVisible" class="modal-backdrop">
    <div class="modal">
      <h2>¿Estás seguro que quieres eliminar este ordenador?</h2>
      <p>{{ordenador?.marca}} {{ordenador?.modelo}}</p>
      <button class="confirmar" (click)="onConfirmarEliminar()">Sí, eliminar</button>
      <button class="cancelar" (click)="onCancelarEliminar()">Cancelar</button>
    </div>
  </div>


  <div *ngIf="!cargando && !ordenador">
    <p>No se encontró el ordenador.</p>
    <a routerLink="/ordenadores">Volver al catálogo</a>
  </div>
</div>
